@font-face {
  font-family: "Merriweather-Regular";
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf");
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.4;
  background-color: black;
  color: white;
  margin: auto;
  min-width: 1160px;
}

li {
  margin-bottom: 15px;
}

#img-container {
  margin: 30px 30px 40px 30px;
  display: flex;
  /* flex-direction: column; */
  height: 40vh;
  align-items: center;
  object-fit: contain;
  background-image: url("/images/airport.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/* .cta-button a {
  color: white;
  text-decoration: underline;
} */

#footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  background: black;
  padding: 50px 00px 50px 0px;
}

#page-container {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 6em;
  background: white;
  color: black;
}

#poc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 120px;
  background: #f1f1f1;
  color: black;
}

.poc-title {
  color: black;
  font-size: 42px;
  margin: 30px 0px 10px 0px;
  font-weight: 600;
  text-decoration: underline;
}

.poc-description {
  color: black;
  margin: 10px 0px;
}

#citations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 6em;
  background: white;
  color: black;
}

.text-box {
  padding-bottom: 0.5em;
}

.text-image-container {
  display: flex;
  flex-direction: row;
}

.text-image-container .text-box {
  padding-right: 120px;
}

.content-image-container {
  display: flex;
  align-items: center;
}

.blue-link a {
  color: #00b0ba;
  font-weight: bold;
  text-decoration: none;
}

.blue-link a:visited {
  color: #00b0ba;
  font-weight: bold;
  text-decoration: none;
}

.blue-link a:focus {
  outline: none;
}

#citations-container a:hover {
  background: #dcdcdc;
}

#title-text {
  overflow: hidden;
  font-size: 3.5em;
  letter-spacing: 0.05em;
  border: white 10px solid;
  margin: auto auto auto 375px;
  width: fit-content;
  padding: 0.65em 0.9em 0.65em 0.9em;
  font-weight: 600;
  line-height: 1.05em;
  background: #00000060;
  /* display: flex;
  flex-direction: column; */
}

.poc-item {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
  width: 100%;
}

.poc-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.poc-video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.tags-container {
  display: flex;
}

.poc-tag {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5em;
  margin-right: 1em;
  background: #bef07f;
  padding: 0.4em;
  border-radius: 10px;
}

.poc-tag:hover {
  text-decoration: underline;
  box-shadow: #6d6d6d42 8px 7px 10px;
  transform: scale(1.1);
}

.poc-try-btn {
  border: none;
  background: #00b0ba;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  font-weight: 600;
  font-family: inherit;
  letter-spacing: 0.4px;
}

#flex-sublist {
  flex-direction: column;
  text-align: center;
}

.embed-image {
  width: auto;
  max-width: 526px;
  height: auto;
  max-height: 496px;
}

.vid-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 61.25%;
  margin-top: 3em;
}

#vid-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.links-container {
  display: flex;
  align-items: center;
  padding: 2em 6em;
  background: white;
  color: black;
}

/* Custom settings for screens smaller than 1440px */
@media only screen and (max-width: 1440px) {
  body {
    font-size: 1.8em;
  }

  #title-text {
    overflow: hidden;
    font-size: 2.2em;
    letter-spacing: 0.05em;
    border: white 8px solid;
    margin: auto auto auto 85px;
    width: fit-content;
    padding: 0.85em;
    line-height: 1.05em;
    background: #00000060;
  }

  .text-image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .text-image-container .text-box {
    padding-right: 0px;
  }

  #poc-container {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .poc-item {
    flex-direction: column;
  }

  .poc-text-wrapper {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .poc-tag:hover {
    text-decoration: none;
    box-shadow: none;
    transform: none;
  }

  .poc-video-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 68.25%;
  }

  .tags-container {
    justify-content: space-between;
  }

  .poc-try-btn {
    border: none;
    background: #00b0ba;
    padding: 30px;
    border-radius: 5px;
    margin-top: 60px;
    color: white;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.4px;
  }

  .poc-video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .poc-video-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

}

/* Custom image settings for large screens */
@media only screen and (min-width: 2000px) {
  .flex-container {
    padding: 3em 17em;
  }

  .links-container {
    display: flex;
    align-items: center;
    padding: 2em 12em;
    background: white;
    color: black;
  }

  #poc-container {
    padding: 3em 17em;
  }

  #citations-container {
    padding: 3em 17em;
  }
}
