@font-face {
  font-family: "Merriweather-Regular";
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf");
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  background-color: black;
  color: white;
  margin: auto;
  min-width: 1160px;
}

#img-container {
  margin: 30px 30px 40px 30px;
  display: flex;
  height: 30em;
  align-items: center;
  object-fit: contain;
  background-image: url("/images/airport.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  background: black;
  padding: 50px 00px 50px 0px;
}

#page-container {
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  padding: 60px 120px;
  background: white;
  color: black;
}

#flex-list {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  background: #f1f1f1;
  padding: 0em 10em 0em 10em;
}

.text-box {
  font-size: 20px;
  padding: 50px 0px;
  /* TODO: Put font styling here */
}

.text-image-container {
  display: flex;
}

.text-image-container .text-box {
  padding-right: 120px;
}

.content-image-container {
  display: flex;
  align-items: center;
}

a {
  /* color: #66fcf1; */
  text-decoration: none;
}

#title-text {
  overflow: hidden;
  font-family: "Merriweather-Regular";
  font-size: 3.5em;
  letter-spacing: 0.05em;
  border: white 10px solid;
  margin: auto auto auto 85px;
  /* position: relative;
  top: -6em;
  left: 2em; */
  width: fit-content;
  padding: 25px 85px;
}

.flex-item {
  display: block;
  padding: 1em 1em;
  margin: 50px 0px 110px 0px;
}

.flex-item p {
  color: black;
  font-size: 42px;
  font-family: "Merriweather-Light";
}

.flex-item video {
  border: black 1px solid;
}

#flex-sublist {
  flex-direction: column;
  text-align: center;
}

a {
  display: block;
}

.embed-image {
  width: auto;
  max-width: 526px;
  height: auto;
  max-height: 496px;
}

.vid-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

#vid-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.links-container {
  display: flex;
  align-items: center;
  padding: 60px 120px;
  background: white;
  color: black;
}

/* Custom image settings for phones */
@media only screen and (max-width: 600px) {
  .text-image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .text-image-container .text-box {
    padding-right: 0px;
  }

  #flex-list {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .flex-item {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Custom image settings for phones */
@media only screen and (min-width: 1800px) {
  .flex-container {
    padding: 7em 12em;
  }

  .links-container {
    display: flex;
    align-items: center;
    padding: 2em 12em;
    background: white;
    color: black;
  }
}
